<!--Con esto vamos a renderear lo que esta en base.html-->
{% extends 'base.html' %}
{%import 'macros.html' as macros %}


{% import  'bootstrap/wtf.html' as wtf %}
<!--Con lo del super() indico que no se sobreescriba el contenido del
titulo-->
<!--Pues sino pongo esto se va a sobreescribir-->
<!--Estructura de control -->
<!-- 
url_for() nos permite encontrar la ruta especifica solo ingresando el 
nombre de la funcion
-->
<!--Este es el contenido que se va mostrar  en base -->
{% block title %}
    {{super()}} 
    Bienvenido 
{% endblock %}

{% block content %}

    {% if username %}
        <!-- Filtros que se le puede poner a las salidas -->
        <!-- -->
        <h1>Bienvenido, {{username | capitalize}} </h1>
    {% endif %}



    {% if user_ip %}
        <h3>Hello World Flask Hiro IP es {{user_ip}}</h3>
    {% else %}
        <a href="{{url_for('index')}}">Ir a inicio</a>
    {% endif %}

    <div class="container">
        {{wtf.quick_form(login_form)}}
    </div>


    <ul>
        {% for todo in todos %}
            {{macros.render_todo(todo)}}
        <!--   <li>{{todo}}</li>-->
          <!--Con los doble {} se habla recien de las variables-->
        {% endfor %}
    </ul>


{% endblock %}














